body{
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1a2a6c, #b21f1f, #fdbb2d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    font-family: 'Poiret One', cursive;
    margin: 0;
}
.hi {
    text-align: center;
    color:#fff;
    font-size:10em;
    padding-top: 2em;
  }
  
  * { color:#fff; text-decoration: none;}
